@import url("https://fonts.googleapis.com/css?family=Montserrat|Mukta:800");

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}
#location,#about {
  margin-top: 100px;
}
p {
  margin: 0;
  padding: 0;
}

#home {
  position: relative;
  width: 100%;
  height: 84vh;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(12, 1fr);
  background: url(pexels-photo-912845.jpeg);
  background-attachment: fixed;
}

.home-overlay {
  background: rgba(0, 0, 0, 0.65);
  grid-column: 1/9;
  grid-row: 1/13;
}

.navigation-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  max-height: 50px;
  min-height: 50px;
  padding: 0 10px;
  box-sizing: border-box;
  position: fixed;
  z-index: 100;
  background-color: #000;
}

.logo {
  background: url(kheen-auto-logo.jpg);
  background-size: cover;
  max-width: 200px;
  min-width: 122px;
  max-height: 50px;
  min-height: 50px;
}

.call-keehn {
  display: flex;
  align-items: center;
  font-size: 1.5em;
  color: #fff;
}

.main-nav {
  display: flex;
  position: fixed;
  top: 0%;
  z-index: 1001;
  padding-top: 5px;
  width: 100%;
}

.main-ul {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  list-style: none;
  padding: 0;
  margin: 0;
  transition: all 0.5s ease-in-out;
}

li.main-li {
  padding: 0 25px;
}

a.main-links {
  font-size: 1.3em;
  position: relative;
  cursor: pointer;
  padding: 8px 0;
  color: #fff;
  text-decoration: none;
  padding: 0;
  transition: all ease-in-out 300ms;
  letter-spacing: 1px;
}

a.main-links::before,
a::after {
  content: "";
  position: absolute;
  height: 2px;
  bottom: -2px;
  background: yellow;
  width: 0%;
}

a.main-links::before {
  left: 0;
  font-size: 16px;
}

a.main-links::after {
  right: 0;
  background: yellow;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

a.main-links:hover:before {
  background: yellow;
  width: 100%;
  transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
}

a.main-links:hover:after {
  background: transparent;
  width: 100%;
  transition: 0s;
}

.home-image {
  background: url(card-1-bg.jpeg);
  background-size: cover;
  grid-column: 5/9;
  grid-row: 2/6;
  background-repeat: no-repeat;
  min-width: 95%;
  max-width: 95%;
  box-sizing: border-box;
  background-position-y: 30%;
  background-position-x: center;
}

.home-page-text-container {
  grid-row: 4/7;
  grid-column: 2/8;
  align-self: center;
  background: rgba(0, 0, 0, 0.4);
  padding: 15px;
  border-radius: 10px;
}

.home-title {
  color: #ffff01;
  grid-row: 3/3;
  grid-column: 1/9;
  font-size: 7em;
  margin: 0;
  padding-left: 20px;
  font-family: "Mukta", sans-serif;
  text-align: center;
}

.home-phrase {
  color: #ffff01;
  grid-row: 4/4;
  grid-column: 1/9;
  font-size: 30px;
  padding-left: 20px;
  text-align: center;
}

.appointment-button-container {
  grid-row: 8/10;
  grid-column: 3/7;
  display: flex;
  align-items: center;
  padding-left: 20px;
  justify-content: center;
  position: relative;
  z-index: 10;
}

.appointment-button {
  padding: 10px 20px;
  box-sizing: border-box;
  position: relative;
  font-size: 26px;
  text-decoration: none;
  color: #000;
  background: white;
  border: 3px solid #000;
  transition: all 300ms ease-in-out 0s;
  border-radius: 30px;
}

.appointment-button:hover {
  background: #000;
  color: yellow;
  transform: translateX(5%);
}

#services {
  background-color: #fff;
}

.services-container {
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  justify-content: center;
}

.double-card-container {
  width: 30%;
  padding: 10px;
  box-sizing: border-box;
}

.icon-container {
  display: flex;
  align-items: center;
}

.selected-service-container {
  padding: 10px;
  margin: 10px;
  min-height: 270px;
}

.selected-service-container.left {
  border-right: 3px solid #ffff01;
}

.selected-service-container.right {
  border-right: 3px solid transparent;
}

.selected-serice-title {
  margin: 0 0 10px;
  font-size: 2em;
}

.selected-service-text {
  line-height: 30px;
  letter-spacing: 1px;
}

.more-services-text {
  font-size: 30px;
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

.more-services-button-container {
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
  margin: 40px auto;
  padding: 15px;
  display: flex;
  justify-content: center;
}

.full-list-button {
  padding: 15px 20px;
  width: 200px;
  text-align: center;
  background: #fff;
  border: 2px solid yellow;
  border-radius: 40px;
  transition: all ease-in-out 300ms;
  box-shadow: 2px 2px 2px 0px #999;
  font-size: 22px;
}
.full-list-button i {
  padding-right: 0;
}

.full-list-button:hover {
  background: #ffff01;
  border-color: #000;
}
.list-of-services {
  display: flex;
  padding: 10px;
  width: 100%;
  font-size: 18px;
  box-sizing: border-box;
}

.list-of-services ul {
  width: 33%;
}

#about {
  display: flex;
  height: 100vh;
  margin: 0 auto;
  justify-content: center;
}

.about-us,
.services-title {
  color: #000;
  font-size: 4em;
  box-sizing: border-box;
  text-align: center;
  width: 50%;
  margin: 20px auto 0 auto;
  border-bottom: 2px solid #ffff01;
  margin-bottom: 25px;
  padding-bottom: 15px;
  font-family: "Mukta", sans-serif;
}

.icon {
  max-width: 50px;
  min-width: 50px;
  height: 50px;
  padding-right: 10px;
  transform: translateX(-4%);
}

i {
  padding-right: 10px;
}

.services-title {
  color: #000;
  border-color: #000;
}

.about-us-text {
  color: #000;
  text-align: center;
  font-size: 24px;
  letter-spacing: 2px;
  line-height: 30px;
  padding: 10px;
  max-width: 500px;
  margin: 0 auto;
}

.about-us {
  font-size: 3em;
}

#location {
  height: 85vh;
  display: flex;
  flex-flow: row wrap;
}

.location-container {
  display: flex;
  padding: 20px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: baseline;
  width: 49%;
  flex-flow: row wrap;
  background: yellow;
}
.contact-container {
  background: #fff;
}

.map-container iframe {
  width: 100%;
}

.location-h3 {
  color: #000000;
  width: 100%;
  margin: 0;
  font-size: 2em;
  border-bottom: solid 3px #FFEB3B;
  padding-bottom: 20px;
  text-align: center;
  font-weight: 800;
  width: 70%;
  margin: 0 auto;
}
.map-container .location-h3 {
  border-color: #000;
}
.contact-information-container {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 450px;
  justify-content: space-between;
  align-items: center;
}

.phone-number,
.address,
.location-appointment {
  width: 50%;
  font-size: 22px;
  margin-bottom: 20px;
  color: #000;
  font-weight: 800;
  letter-spacing: 1.5px;
  text-align: center;
}

.phone-number,
.location-appointment {
  text-decoration: none;
  width: 30%;
  text-align: center;
  padding: 20px;
  background: #FFEB3B;
  color: black;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 0px #999;
}

.store-hours,
.about-us {
  font-family: "Montserrat", sans-serif;
  font-size: 34px;
  margin: 0;
  text-align: center;
  border-bottom: 2px solid #ffe500;
  padding: 10px;
  font-family: initial;
}

.parent-about-container {
  width: 50%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.parent-store-hours-container {
  width: 50%;
  background-repeat: no-repeat;
  display: flex;
  background: url(about-background.jpeg);
  background-size: cover;
  background-position-x: 60%;
  align-items: center;
}

.store-hours-container,
.about-text-container {
  color: #fff;
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.55);
  border-radius: 10px;
  height: 70%;
  align-items: center;
}

.store-hours-container {
  height: 60%;
}

.about-text-container {
  background: none;
  max-height: 445px;
}

.store-hours-ul,
.about-us-text {
  font-size: 25px;
  width: 100%;
  height: 100%;
  text-align: left;
  display: flex;
  flex-flow: column wrap;
  margin-top: 50px;
  padding: 0;
}

/* blah */

li.store-hours-li {
  list-style: none;
  margin: 5px 0;
  min-height: 30px;
  display: flex;
  justify-content: space-between;
}




.main-footer {
  background: #000;
  width: 100%;
  display: flex;
  padding: 10px;
  box-sizing: border-box;
}

.main-footer .footer-links {
  width: 17%;
}

.main-footer .footer-links li {
  list-style: none;
  transition: all ease 300ms;
}

.main-footer .footer-links li:hover {
  padding-left: 10px;
}

.main-footer .footer-links li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}